[flake8]
exclude=settings.py, wsgi.py, manage.py, */migrations/*
ignore = D106, D400, N803, W503
max-complexity = 10
max-line-length = 79
select = B, B9, C, D, E, F, N, W
ignore-names = setUp, tearDown, setUpClass, tearDownClass, setUpTestData
